<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{90,88}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{88,87}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,177},{87,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{87,84}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,177},{88,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{88,85}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,89},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{88,87}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{89,87}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{263,263}</string>
			<key>textureFileName</key>
			<string>toolBall.png</string>
			</dict>
		</dict>
</plist>